.title {
    /* backdrop-filter: blur(50px); */
    margin-bottom: 9px;
    border-bottom: 1px solid lightgray;
    z-index: 1;

    .tab_button,
    .tab_b {
        font-size: 13px;
        margin-bottom: -1px;
        border-width: 1px;
        border-style: solid;
        background-color: inherit;
        color: #fff;
        border: none;
        padding: 8px;
        z-index: 2;
        /* transition: all linear .3s; */
    }

    .tab_button_active,
    .tab_active {
        font-size: 16px;
        margin-bottom: -1px;
        border-width: 1px;
        border-style: solid;
        border-color: lightgray lightgray #008f7b lightgray;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: #008f7b;
        color: #fff;
        font-weight: 600;
        padding: 8px;
        z-index: 2;
        /* transition: all linear .3s; */
    }
}

.asside_tab_content {
    display: none;
}

.del {
    padding: 3px 9px;
    cursor: pointer;

    &:hover {
        background-color: #CF483A;
    }
}

.activity_head {
    padding: 0px 3px;
    /* background-color: gray; */
    margin-bottom: 5px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 13px; */

    &>* {
        font-size: 15px;
    }
}

.hr {
    width: 100%;
    height: 2px;
    margin: 2px 0px;
}

.hr_gray {
    background-color: #00000020;
}

.hr_white {
    background-color: #ffffff80;
}