* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    /* font-family: cursive; */
    box-sizing: border-box;
    /* border-radius: 3px; */
    /* color: #fffacc; */
}

:root {
    --dark-secondary: #19875440;
    /* --light-primary: #19875420; */
    --secondary: #198754;
    --light-secondary: #19875420;
    /* --secondary: #0079DF; */
    --compliment: #0079DF;
    --white: #fff;
    --black: #000;
    --gray: #ccc;
    --primary: #008f7b;
    --light-primary: #00c4aa;
    --dark-primary: #006356;
    --hr: #ffffff80;
}


body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 25px;
    /* background-color: var(--light-primary); */
    /* background: linear-gradient(133deg, #0079DF, #CF483A); */
    background: linear-gradient(180deg, var(--dark-primary), var(--light-primary));
    /* background-image: url("img/02.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    box-sizing: border-box;
    overflow: hidden;
    /* background-blend-mode: luminosity; */
    /* backdrop-filter: blur(3px); */
}

#asside_left {
    background-color: var(--white);
    color: #000;
    width: 100%;
    max-width: 350px;
    height: 100%;
    /* border-radius: ; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* padding: 15px; */
    /* box-shadow: 0px 0px 10px 0px #fff; */
    border-right: 3px solid #00000080;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    #user_location {
        position: fixed;
        top: -500%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* max-width: 350px; */
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: #00000020;
        /* width: 100%; */
        z-index: 5;
        transition: all linear.3s;
        ;

        /* height: 500px; */
        .user_location_wrapper {
            max-width: 450px;
            width: 100%;
            background-color: #fff;
            /* height: auto; */
            padding: 15px
        }

        .user_loc_header {

            padding: 8px;
            font-size: 25px;
            font-weight: 600;
        }

        .user_loc_body {
            padding: 8px;

            .loc_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                /* border: 1px solid #000; */
                border-radius: 3px;
            }
        }
    }

    .user_location_active {
        /* position: fixed; */
        top: 50% !important;
        /* left: 50%; */
        transform: translate(-50%, -50%) !important;
        transition: all linear .3s;
    }

    .location {
        color: #ffffff80 !important;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-self: flex-start;
        width: 100%;
        padding: 8px;
        background-color: #00000080;

        /* color: white; */
        .img {
            margin-right: 5px;
            background-color: #00000080;
        }

        #locationInput {
            padding: 8px;
            font-size: 13px !important;
        }

        .setLocation,
        .open {
            padding: 8px 15px;
            margin: 2px;
            color: #000;
            border: none;
            font-size: 16px;
            position: relative;
            cursor: pointer;
            width: 150px;
            border-radius: 8px;
            text-align: left;
            /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); */
            background-color: #fff;

            &::after {
                content: "";
                position: absolute;
                top: calc(50% - 4px);
                right: 15px;
                width: 8px;
                height: 8px;
                transform: translateY(-50%) rotate(45deg);
                border-style: solid;
                border-width: 2px;
                border-color: transparent #000 #000 transparent;
                transition: all linear .3s;
            }
        }

        .open::after {
            content: "";
            position: absolute;
            top: calc(50% - 0px);
            right: 15px;
            width: 8px;
            height: 8px;
            transform: translateY(-50%) rotate(45deg);
            border-style: solid;
            border-width: 2px;
            border-color: #000 transparent transparent #000;
            transition: all linear .3s;
        }

        .setting_icon {
            /* border: 1px solid #fff; */
            margin-left: 20px;
            border-radius: 3px;
            transition: all linear .3s;
            /* background-color: #00000020; */
            cursor: pointer;
            transition: all linear .3s;

            #icon {
                width: 45px;
                padding: 8px;

                &:hover {
                    cursor: pointer;
                    transform: rotate(25deg);
                    transition: all linear .3s;

                }
            }
        }
    }

    #temperature {
        font-size: 35px;
        text-align: center;
        font-weight: 600;
        color: var(--dark-primary);
        font-family: cursive;

        #weatherTitle {
            font-size: 20px;
            text-transform: uppercase;
        }

        #minTemp,
        #maxTemp {
            font-size: 13px;
        }
    }

    .sunSetRise {
        position: relative;
        padding: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        #sun {
            position: absolute;
            top: 27px;
            left: 50%;
            transform: translateX(-50%);
            color: #f98f07;
            height: 182px;
            display: flex;
            align-items: flex-start;
        }

        #sun svg {
            box-shadow: 0px 0px 25px 0px #f98f07;
            border-radius: 50%;
            padding: 4px;
            font-size: 25px;
            border: 1px solid #FFF;
        }

        .sunRise,
        .sunSet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -45px;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            border-radius: 50%;
            height: 200px;
            border-color: #00000080;
            border-style: dashed;
            border-width: 2px 0px 0px 0px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 180px;
            height: 30px;
            background-color: #00000020;
            border-radius: 50%;
        }
    }



    .dateAndTime {
        font-size: 22px;
        line-height: 20px;
        color: #00000080;
        text-align: center;
        margin: 8px 0px;

        .currentTime {
            font-size: 22px;
            line-height: 25px;
            font-weight: 600;
            font-family: sans-serif;
            margin-bottom: 3px;
        }

        #toDay {
            font-size: 20px;
        }
    }
}

#asside_right {
    background-color: #001c33;
    color: white;
    width: 350px;
    height: 560px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 15px;
    display: none;

    .right_tab {
        width: 230px;
        height: 40px;
        margin: 8px auto;
        border: .7px solid #0079DF;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        /* padding: 3px; */

        .right_tab_active {
            position: absolute;
            top: 1px;
            width: 115px;
            height: 36px;
            background-color: #0079DF;
            z-index: -1;
            border-radius: 25px;
            transition: all linear .3s;
        }

        .active_on_left {
            left: 2px !important;
            transition: all linear .3s;
        }

        .active_on_right {
            right: 2px !important;
            transition: all linear .3s;
        }

    }


    .recent_searches {
        /* display: flex!important;
        flex-direction: column-reverse; */

        /*------ Settings ------*/
        .deligate_container {
            --color: var(--compliment);
            --size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            font-size: var(--size);

            .moon {
                position: absolute;
                animation: keyframes-fill .5s;
                fill: #224f75;
            }

            .sun {
                fill: var(--color);
                position: absolute;
                display: none;
                animation: keyframes-fill .5s;
            }
        }

        /* ------ On check event ------ */
        /* .deligate_container input:checked~.moon {
            display: none;
        }

        .deligate_container input:checked~.sun {
            display: block;
        } */

        /* ------ Hide the default checkbox ------ */
        .deligate_container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* ------ Animation ------ */
        @keyframes keyframes-fill {
            0% {
                transform: rotate(-360deg) scale(0);
                opacity: 0;
            }

            75% {
                transform: rotate(25deg);
            }
        }

        .search_active {
            background-color: #224f75 !important;
        }


        .search {
            backdrop-filter: blur(25px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 3px;
            margin-bottom: 3px;
            background-color: #25425b69;
            padding: 5px;


            .search_sl {
                background-color: #0079DF;
                border-radius: 50%;
                font-size: 14px;
                padding: 3px 6px;
                margin-left: 3px;
            }

            .search_title {
                justify-self: start;
                flex: .6;
                justify-self: self-start;
                padding: 0px 15px;
            }

            .search_del {
                padding: 3px 9px;
                cursor: pointer;

                &:hover {
                    background-color: #CF483A;
                }
            }
        }

    }

    .activities {

        .activity:not(.activity_head) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 11px;
            margin-bottom: 3px;
            padding: 5px 8px;

            &>* {
                font-size: 14px;
            }

            .activity_del {
                padding: 2px 6px;
            }

            /* get the even child of activity class  */
            &:nth-child(odd) {
                background-color: #25425b69;
            }
        }

    }
}

#main_app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* background: linear-gradient(-45deg, #173d47, #173d4b ); */
    /* background-color: #173d4ba1; */
    background-color: var(--primary);
    /* background-image: url('img/01.jpg'); */
    /* padding: 8px 0px; */
    width: 100%;
    height: 100%;
    /* padding: 25px; */
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* border:1px solid #0079DF; */
    overflow: hidden;
    backdrop-filter: blur(50px);
    /* box-shadow: 20px 0px 5px 0px #000; */



    .header {
        width: 100%;
        /* backdrop-filter: blur(25px); */
        /* background-color: #0e2d3aa1; */
        /* background-color: var(--complimen); */
        /* border-bottom: 1px solid var(--hr); */
        margin: 0 auto;
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;

    }


    .main-body {
        padding: 25px;

        .body-info {
            width: 100%;
            position: relative;

            .main-temp {
                display: flex;
                /* border: 1px solid white; */
                font-size: 40px;
                position: relative;
                /* box-shadow: inset 0px 0px 15px rgba(0,0,0,0.4); */
                color: white !important;
                margin-bottom: 10px;



                .left {
                    padding: 10px;
                    /* border-right: 1px solid #ffffffa1; */
                    /* box-shadow: 0px 0px 5px 0px #19875490; */
                    width: 150px;
                    /* background-color: #19875490; */
                    background-color: var(--secondary);
                    border-radius: 8px;

                    .minmax {
                        width: 100%;
                        border-top: 1px solid #ffffffa7;
                        padding: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 10px;

                        .fa-caret-up {
                            color: rgb(238, 69, 69);
                        }

                        .fa-caret-down {
                            color: green;
                        }
                    }
                }


                .right {
                    padding: 4px 8px;
                    flex: 1;



                    .title {
                        font-size: 14px;
                    }
                }
            }

            .nextHourWeather {
                /* height: 0px; */
                padding: 4px;
                display: flex;
                justify-content: start;
                align-items: center;
                /* background-color: #072130; */


                .weatherItem {
                    width: 70px;
                    height: 100px;
                    /* backdrop-filter: blur(25px); */
                    /* border: 1px solid var(--secondary); */
                    background-color: var(--secondary);
                    color: #fff;
                    margin-right: 8px;
                    border-radius: 2px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 7px;

                    .time {
                        font-size: 12px;
                        width: 50px;
                        /* padding-top: 3px; */
                    }

                    .temp {
                        font-size: 11px;

                        .sup {
                            font-size: 11px;
                        }
                    }

                    .iconImg {
                        width: 35px;
                    }

                }
            }

            #weather-icon {
                position: absolute;
                bottom: 20px;
                right: 0;
            }

        }

        .other-temp {
            /* border: 1px solid white; */
            width: auto;
            height: auto;
            margin-top: 15px;

            .middle {
                padding: 1px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                /* border-right: 1px solid #ffffffa1; */

                .windSpeed {
                    padding: 8px 4px;
                    text-align: center;
                    background-color: #f5f1f121;

                    /* border-bottom: 1px solid #ffffffa1;; */
                    .windMitter {
                        font-size: 12px;
                    }

                    .fas {
                        font-size: 14px;
                    }

                    .h6 {
                        font-size: 15px;
                        padding: 0px 3px;
                        ;
                    }

                    .p {
                        font-size: 12px;
                    }

                    .fa-caret-up {
                        color: rgb(238, 69, 69);
                    }

                    .fa-caret-down {
                        color: green;
                    }

                }

                .seaLevel {
                    text-align: left;
                    padding: 4px;

                    .h6 {
                        font-size: 15px;
                        padding: 0px 3px;
                        ;
                    }

                    .p {
                        font-size: 12px;
                    }
                }
            }

        }

    }


    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: #19875490; */
        /* background-color: #CF483A; */
        /* backdrop-filter: blur(50px); */
        padding: 5px;

        .footer-item {
            /* width: calc() */
            /* width 20% with both side 5px margin use calse function  */
            width: calc((100% - (5px * 2)) / 4);
            /* height: auto; */
            height: 100px;
            padding: 4px;
            /* background-color: hsl(225, %, 28%); */
            margin: 0px 2px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            /* border: 1px solid var(--grey); */
            /* box-shadow: 0px 0px 2px 0px #fff; */
            backdrop-filter: blur(50px);
            position: relative;

            /* background-color: #CF483A; */
            &:first-child {
                background-color: #198754;
                border-color: #198754;
            }

            .footer-title {
                color: var(--white);
                font-weight: bolder;
                font-size: 18px;
            }

            .footer-temp {
                font-size: 12px;
            }

            .footer-title {
                font-size: 12px;
            }
        }
    }

}


@keyframes boxShadow {
    0% {
        box-shadow: 0px 0px 5px 0px #ffffffa1;
    }

    100% {
        box-shadow: 0px 0px 25px 0px #ffffffa1;
    }
}